@import "tailwindcss";

.navbar {
  background-color: #242424; 
  color: white;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky; 
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

.navbar a:hover {
  color: #4CAF50;
}

.content{
  display: flex;
  justify-content: center;
}

.home-page{
  display:flex;
  flex-direction: column;
  align-items: center;
}